<!--
  Generated template for the OnboardingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content [ngClass]="{'back-image-first':boardIndex==0, 'back-image-second':boardIndex==1,'back-image-third':boardIndex==2}">
  <ion-label class="lang-change" (click)=gs.changeLanguage()>{{gs.isArabic?"English":"عربي" }}</ion-label>
  <div class="bottom-layer-dark"></div>
  <div class="card-board">

    <span class="title">{{boardTitle|translate}}</span>
    <p class="des">{{boardDes|translate}} </p>
    <div class="dot">
      <svg *ngIf="boardIndex==0" width="34" height="10" viewBox="0 0 34 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 9C6.20914 9 8 7.20914 8 5C8 2.79086 6.20914 1 4 1C1.79086 1 0 2.79086 0 5C0 7.20914 1.79086 9 4 9Z"
          fill="#228D8C" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 9C18.2091 9 20 7.20914 20 5C20 2.79086 18.2091 1 16 1C13.7909 1 12 2.79086 12 5C12 7.20914 13.7909 9 16 9Z"
          stroke="#228D8C" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M29 9C31.2091 9 33 7.20914 33 5C33 2.79086 31.2091 1 29 1C26.7909 1 25 2.79086 25 5C25 7.20914 26.7909 9 29 9Z"
          stroke="#228D8C" />
      </svg>

      <svg *ngIf="boardIndex==1" width="35" height="10" viewBox="0 0 35 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C7.20914 9 9 7.20914 9 5C9 2.79086 7.20914 1 5 1C2.79086 1 1 2.79086 1 5C1 7.20914 2.79086 9 5 9Z"
          stroke="#228D8C" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 9C19.2091 9 21 7.20914 21 5C21 2.79086 19.2091 1 17 1C14.7909 1 13 2.79086 13 5C13 7.20914 14.7909 9 17 9Z"
          fill="#228D8C" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M30 9C32.2091 9 34 7.20914 34 5C34 2.79086 32.2091 1 30 1C27.7909 1 26 2.79086 26 5C26 7.20914 27.7909 9 30 9Z"
          stroke="#228D8C" />
      </svg>

      <svg *ngIf="boardIndex>=2" width="34" height="10" viewBox="0 0 34 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M30 9C27.7909 9 26 7.20914 26 5C26 2.79086 27.7909 1 30 1C32.2091 1 34 2.79086 34 5C34 7.20914 32.2091 9 30 9Z"
          fill="#228D8C" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 9C15.7909 9 14 7.20914 14 5C14 2.79086 15.7909 1 18 1C20.2091 1 22 2.79086 22 5C22 7.20914 20.2091 9 18 9Z"
          stroke="#228D8C" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C2.79086 9 1 7.20914 1 5C1 2.79086 2.79086 1 5 1C7.20914 1 9 2.79086 9 5C9 7.20914 7.20914 9 5 9Z"
          stroke="#228D8C" />
      </svg>
    </div>
    <button ion-button class="normal-btn" (click)="onClickNext()">{{btnText|translate}}</button>
    <ion-label class="skip" (click)="goLogin()">{{"SKIP"|translate}}</ion-label>
  </div>
  

</ion-content>