page-checkoutselect {
    ion-content {
        background: #f4f4f4 !important;
        .segment {
            margin-bottom: 15px;
            ion-icon {
                font-size: 27px;
                font-weight: bold;
            }
        }
    }
}