page-recordertab {
    ion-header.expand-header {
        height: 30vh;
    }
    ion-header {
        ion-searchbar {
            padding: 0 15px 15px 15px !important;
        }
        .left-icon {
            margin-left: 15px !important;
            float: none !important;
        }
        .right-col {
            padding-right: 0px !important;
            margin-right: 4px !important;
        }
        .searchbar-ios {
            background: none !important;
        }
        .appand-list {
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            letter-spacing: -0.384px;
            color: #FFFFFF;
            margin-right: 0 !important;
            margin-left: 0 !important;
            padding: 10px;
        }
        .selected-address {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 25px;
            letter-spacing: -0.6px;
            color: #FFFFFF;
            border-top: 1px solid #166A69;
            border-bottom: 1px solid #166A69;
        }
        .order-status {
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.376471px;
            color: #FFFFFF;
            background: #0D5E5D;
            .detail,
            .title {
                font-size: 15px;
                justify-content: space-between;
                padding: 15px 15px 15px 15px;
            }
            .title {
                padding-bottom: 0;
            }
        }
    }
    ion-content {
        ion-slides {
            height: 28vh;
            width: 100%;
            overflow: hidden;
            .swiper-pagination-bullet {
                border: 1px solid #FFFFFF;
                background: none;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: white;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        ion-list {
            .name-des {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 15px;
                font-size: 14px;
                letter-spacing: 0.282353px;
                color: #545454;
                width: 1000px !important;
            }
            .jod {
                text-align: right;
                width: 50px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 15px;
                font-size: 19px;
                letter-spacing: 0.329412px;
                color: #228D8C;
                span {
                    font-size: 16px;
                }
            }
        }
        .avatars,
        .avatar {
            position: relative;
            width: 20%;
            height: 10vh;
            img {
                box-shadow: 1px 1px 1px 1px gray;
            }
        }
        .avatars {
            ion-avatar.avatar0 {
                position: absolute;
                top: 0;
                left: 0;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            ion-avatar.avatar1 {
                position: absolute;
                top: 10px;
                right: 0;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            ion-avatar.avatar2 {
                position: absolute;
                top: 20px;
                left: 5px;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .avatar {
            ion-avatar {
                // margin: auto;                
                img {
                    width: 42px;
                    height: 42px;
                }
            }
        }
        .priceadjustment {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 15px;
            font-size: 12px;
            letter-spacing: 0.282353px;
            color: #FF0000;
        }
        .restaurants {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            font-size: 15px !important;
            letter-spacing: 0.282353px;
            color: #545454;
        }
        .date {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            font-size: 14px;
            letter-spacing: 0.282353px;
            color: #545454;
        }
    }
}