// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/Cairo.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Medium.ttf') format("truetype");
}

ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    } // custom icons
    &[class*="custom-icon-recorder"] {
        mask-image: url(../assets/icon/recorderIcon.svg);
    }
}

ion-badge {
    background: #FF0000 !important;
    padding-left: 3.5px;
    padding-right: 3.5px;
    border-radius: 50% !important;
    text-align: center;
    font-size: 9px !important;
}

.notification {
    position: relative;
    ion-badge {
        border: 1px solid #228D8C;
        box-sizing: border-box;
        position: absolute;
        top: -5px;
        height: 15px;
        padding-top: 1px;
        padding-left: 3.5px;
        padding-right: 3.5px;
        left: -8px;
        text-align: center;
        &~svg {
            margin-right: 30px; // text-align: center;
        }
    }
}

ion-tabs.hidden div.tabbar {
    display: none
}

ion-header.header-md {
    .header-row {
        .header-title {
            span {
                // margin-left: 40px;
            }
        }
    }
}

ion-header {
    background: #228D8C !important;
    color: white;
    .header-row {
        height: 10vh;
        .header-title {
            // padding-top: 20px;
            // padding-bottom: 20px;
            align-items: center;
            .left-icon {
                float: right;
                font-size: 20px;
            }
            span {
                margin: auto;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 17px;
                font-size: 22px;
                letter-spacing: 0.205px;
            }
            .right-icon {
                float: left;
                font-size: 20px;
            }
        }
    }
    .header-detail {
        background: #0D5E5D;
        justify-content: space-between;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 15px;
        font-size: 14px;
        letter-spacing: 0.376471px;
        color: #FFFFFF;
        padding: 10px 15px;
        div span {
            font-size: 9px;
        }
    }
}

ion-row {
    width: 100%;
}

.normal-btn {
    width: 100%;
    height: 40px;
    border-radius: 20px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Font */
    text-transform: capitalize;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.265294px;
    color: #FFFFFF;
}

.full-height {
    height: 100%;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.default-padding {
    padding: 5px 10px;
}

.cross-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #C2BEBE;
}

.selected-btn {
    width: 100%;
    height: 30px;
    border-radius: 15px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: -0.282353px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.unselected-btn {
    width: 100%;
    height: 30px;
    border-radius: 15px !important;
    background: white;
    border: 2px solid #8B8B8B;
    color: #8B8B8B;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 12px;
    letter-spacing: -0.282353px;
    text-transform: capitalize;
}

.avatar {
    width: 70px;
    height: 70px;
    position: relative;
    img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    svg {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

ion-content.back-image-first {
    background-image: url("../../assets/imgs/onboarding.png") !important;
}

ion-content.back-image-second {
    background-image: url("../../assets/imgs/onboarding1.png") !important;
}

ion-content.back-image-third {
    background-image: url("../../assets/imgs/onboarding2.png") !important;
}

ion-content {
    background-size: cover;
    position: relative;
    .card-board {
        width: 85vw;
        margin: auto;
        background: #FFFFFF;
        border-radius: 13px;
        text-align: center;
        padding: 20px;
    }
    .bottom-layer-dark {
        position: absolute;
        width: 100%;
        height: 20vh;
        z-index: -1;
        bottom: 0;
        left: 0;
        background: linear-gradient(360deg, #000000 20.28%, rgba(0, 0, 0, 0) 93.09%);
    }
    div.segment {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 2px rgba(149, 149, 149, 0.5);
        border-radius: 3px;
        padding-bottom: 15px;
        .item-row {
            align-items: center;
            padding: 3px 10px 3px 5px;
            justify-content: space-between;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 14px;
            letter-spacing: -0.282353px;
            color: #545454;
            span {
                padding-left: 10px;
                padding-right: 10px;
            }
            span.password {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 13px;
                font-size: 14px;
                letter-spacing: 3.33px;
                color: #545454;
            }
        }
        .right-subtitle {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: right;
            color: #228D8C;
            text-align: right;
        }
        ion-datetime {
            width: 100%;
            padding-top: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 14px;
            letter-spacing: -0.282353px;
            color: #228D8C;
        }
        .check-box {
            ion-row.between {
                border-top: 1px solid #C2BEBE;
            }
        }
        .budget,
        .coupon {
            padding: 0 15px;
            justify-content: space-between;
            align-items: center;
            .cross {
                margin-right: 30px;
                font-weight: 100;
                text-decoration: line-through;
            }
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 15px;
                font-size: 22px;
                letter-spacing: 0.329412px;
                color: #228D8C;
                span {
                    font-size: 12px !important;
                }
            }
        }
        .coupon {
            .sub-title {
                color: red !important;
            }
            span {
                color: red !important;
            }
        }
        .step-wraper {
            padding: 5px 10px 0px 10px;
            .step-row {
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                div {
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 14px;
                    color: #8B8B8B;
                }
                div.right {
                    text-align: right;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 14px;
                    text-align: right;
                }
                div.active {
                    color: #228D8C;
                }
            }
        }
        .gray-back-row {
            background: #E5E5E5;
            height: 50px;
            align-items: center;
            padding: 5px 10px;
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 15px;
                font-size: 22px;
                letter-spacing: 0.376471px;
                color: #545454;
            }
        }
        ion-label.title {
            /* Label Copy 2 */
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 22px;
            letter-spacing: -0.282353px;
            color: #545454;
            padding: 13px;
            padding-bottom: 0;
        }
        div.second-style {
            ion-input {
                border-bottom: 0.5px solid #C2BEBE;
                box-sizing: border-box;
                border-radius: 3px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 19px;
                font-size: 22px;
                letter-spacing: -0.282353px;
                color: #228D8C;
                ::-webkit-input-placeholder {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 17px;
                    font-size: 18px;
                    letter-spacing: -0.408px;
                    color: #C2BEBE;
                }
            }
        }
        div.detail {
            padding: 0px 13px 13px 13px;
            ion-select {
                width: 100%;
                padding: 0 10px 0px 0;
                max-width: 100%;
                height: 20px;
                border-bottom: 0.5px solid #C2BEBE;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 19px;
                font-size: 18px;
                letter-spacing: -0.282353px;
                color: #228D8C;
                .select-placeholder {
                    /* Label Copy 6 */
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 19px;
                    font-size: 18px;
                    letter-spacing: -0.282353px;
                    color: #8B8B8B;
                }
            }
            ion-input {
                border: 0.5px solid #C2BEBE;
                box-sizing: border-box;
                border-radius: 3px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 19px;
                font-size: 22px;
                letter-spacing: -0.282353px;
                color: #228D8C;
                ::-webkit-input-placeholder {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 17px;
                    font-size: 18px;
                    letter-spacing: -0.408px;
                    color: #C2BEBE;
                }
            }
        }
        .sub-title {
            /* Label Copy 2 */
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 14px;
            letter-spacing: -0.282353px;
            color: #545454;
        }
        .cuisine-row {
            padding: 0 10px 0 10px;
        }
        .add-btn {
            height: 30px;
            border-radius: 15px !important;
            width: 60%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            font-size: 14px;
            letter-spacing: 0.265294px;
            color: #228D8C;
            text-transform: capitalize;
            margin-left: 20% !important;
        }
        .edit-btn {
            height: 30px;
            border-radius: 15px !important;
            width: 45%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            font-size: 14px;
            letter-spacing: 0.265294px;
            color: #228D8C;
            text-transform: capitalize;
            ion-icon {
                margin-right: 5px;
            }
        }
        ion-list {
            margin-top: 20px !important;
            ion-item {
                padding: 0 !important;
                .item-head {
                    padding: 15px;
                    justify-content: space-between;
                    ion-icon {
                        float: right;
                    }
                }
                .item-inner {
                    ion-label {
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                    padding: 0 !important;
                }
                .sub-des {
                    text-align: justify;
                    letter-spacing: -0.336px;
                    color: #8B8B8B;
                    border-top: 0.1px solid #C2BEBE;
                    padding: 15px;
                }
                .selected {
                    background: #F9F9F9;
                }
            }
        }
    }
}