page-address {
    ion-content {
        background: #E5E5E5 !important;
    }
    .scroll {
        height: 100%
    }
    #map {
        width: 100%;
        height: 15vh;
    }
    #map.addnew {
        height: 45vh;
    }
}