<!--
  Generated template for the ShipinginfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row class="header-row">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon class="left-icon" name="ios-arrow-back" (click)="navCtrl.pop()"></ion-icon>
      </ion-col>
      <span>
        Your Cart
      </span>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-header>


<ion-content padding>
  <div class="segment">
    <div class="step-wraper">
      <svg width="100%" height="41" viewBox="0 0 318 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5 40C9.73045 40 1 31.2696 1 20.5C1 9.73045 9.73045 1 20.5 1C31.2696 1 40 9.73045 40 20.5C40 31.2696 31.2696 40 20.5 40Z"
          stroke="#BFBFBF" />
        <path d="M21.8311 29H19.833V15.7549L15.8262 17.2266V15.4219L21.5195 13.2842H21.8311V29Z" fill="#BFBFBF" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M298.5 40C287.73 40 279 31.2696 279 20.5C279 9.73045 287.73 1 298.5 1C309.27 1 318 9.73045 318 20.5C318 31.2696 309.27 40 298.5 40Z"
          fill="#228D8C" />
        <path d="M303.548 29H293.3V27.5713L298.714 21.5557C299.516 20.6462 300.067 19.9085 300.368 19.3428C300.676 18.7699 300.83 18.179 300.83 17.5703C300.83 16.7539 300.583 16.0843 300.089 15.5615C299.595 15.0387 298.936 14.7773 298.112 14.7773C297.124 14.7773 296.354 15.0602 295.803 15.626C295.258 16.1846 294.986 16.9652 294.986 17.9678H292.999C292.999 16.5283 293.461 15.3646 294.385 14.4766C295.316 13.5885 296.558 13.1445 298.112 13.1445C299.566 13.1445 300.715 13.5277 301.561 14.2939C302.406 15.0531 302.828 16.0664 302.828 17.334C302.828 18.8737 301.847 20.707 299.885 22.834L295.695 27.3779H303.548V29Z"
          fill="white" />
        <path d="M40.5587 20.5H277.441" stroke="#228D8C" stroke-width="0.5" stroke-linecap="square" stroke-dasharray="4 5" />
      </svg>
      <ion-row class="step-row">
        <div>
          <span>Order</span><br><span>List</span>
        </div>
        <div class="right active">
          <span>Shipping</span><br><span>Info</span>
        </div>
      </ion-row>
    </div>
    <ion-row class="gray-back-row">
      <span>Delivery Address</span>
    </ion-row>
    <ion-row class="align-center space-between default-padding">
      <span class="sub-title">Address Title 1</span>
      <button ion-button class="edit-btn" outline>
        <ion-icon name="md-create"></ion-icon> <span> Edit Address</span>
      </button>
    </ion-row>
    <ion-row class="sub-title default-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit
      amet libero iaculis
    </ion-row>
    <ion-row class="gray-back-row">
      <span>Delivery Time</span>
    </ion-row>
    <div class="check-box default-padding">
      <ion-row class="align-center" (click)="isASAPDelivery=true">
        <!-- checked icon -->
        <svg *ngIf="isASAPDelivery" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#228D8C" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"
            fill="#228D8C" />
        </svg>
        <!-- unchecked icon -->
        <svg *ngIf="!isASAPDelivery" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#545454" />
        </svg>
        <div class="sub-title" padding>As soon as Possible</div>
      </ion-row>

      <ion-row class="align-center between" (click)="selectSchedule()">
        <!-- checked icon -->
        <svg *ngIf="!isASAPDelivery" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#228D8C" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"
            fill="#228D8C" />
        </svg>
        <!-- unchecked icon -->
        <svg *ngIf="isASAPDelivery" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#545454" />
        </svg>
        <div class="sub-title" padding>Schedule a specific time</div>
      </ion-row>
      <ion-item *ngIf="!isASAPDelivery" no-lines>
        <ion-datetime displayFormat="DDD DD MMM hh:mm a" [(ngModel)]="today"></ion-datetime>
      </ion-item>
    </div>

    <ion-row class="gray-back-row">
      <span>Payment Method</span>
    </ion-row>
    <div class="check-box default-padding">
      <ion-row class="align-center" (click)="paymentSelected=0">
        <!-- checked icon -->
        <svg *ngIf="paymentSelected==0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#228D8C" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"
            fill="#228D8C" />
        </svg>
        <!-- unchecked icon -->
        <svg *ngIf="paymentSelected!=0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#545454" />
        </svg>
        <div class="sub-title" padding>Cash</div>
      </ion-row>

      <ion-row class="align-center between" (click)="paymentSelected=1">
        <!-- checked icon -->
        <svg *ngIf="paymentSelected==1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#228D8C" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"
            fill="#228D8C" />
        </svg>
        <!-- unchecked icon -->
        <svg *ngIf="paymentSelected!=1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#545454" />
        </svg>
        <div class="sub-title" padding>ZainCash</div>
      </ion-row>
      <ion-row class="align-center between" (click)="paymentSelected=2">
        <!-- checked icon -->
        <svg *ngIf="paymentSelected==2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#228D8C" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"
            fill="#228D8C" />
        </svg>
        <!-- unchecked icon -->
        <svg *ngIf="paymentSelected!=2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z"
            stroke="#545454" />
        </svg>
        <div class="sub-title" padding>Visa/MasterCard</div>
      </ion-row>
    </div>
  </div>

  <div class="segment">
    <ion-row class="budget">
      <ion-label class="sub-title">Subtotal</ion-label>
      <span>{{5}}.00<span>JOD</span></span>
    </ion-row>
    <ion-row *ngIf="couponValidated" class="coupon">
      <ion-label class="sub-title">Coupon Discount</ion-label>
      <span>{{15}}%</span>
    </ion-row>
    <ion-row class="budget">
      <ion-label class="sub-title">Delivery Fee</ion-label>
      <span>{{5}}.00<span>JOD</span></span>
    </ion-row>
    <ion-row class="budget">
      <ion-label class="sub-title">VAT(16%)</ion-label>
      <span>{{5}}.00<span>JOD</span></span>
    </ion-row>
    <ion-row class="budget">
      <ion-label class="sub-title">Total</ion-label>
      <span *ngIf="couponValidated" class=" cross">{{30.00}}<span>JOD</span></span>
      <span>{{25}}.00<span>JOD</span></span>
    </ion-row>
  </div>
  <button ion-button class="normal-btn" (click)="goCheckoutConfirm()">Continue</button>

</ion-content>