page-termsofservice {
    ion-content {
        text-align: center;
        background: #f4f4f4 !important;
        .segment {
            padding: 20px 15px;
            .sub-title {
                text-align: justify;
                padding-top: 20px;
            }
        }
    }
}