page-checkoutaddnewcard {
    ion-content {
        background: #f4f4f4 !important;
        .segment {
            margin-bottom: 15px;
            .title {
                padding: 10px!important;
            }
        }
    }
}