page-addressaddedit {
    ion-content {
        background: #f4f4f4 !important;
        .title {
            margin-bottom: 0;
            width: 100%;
        }
        .segment {
            margin-bottom: 10px;
        }
    }
    .scroll {
        height: 100%
    }
    #map {
        width: 100%;
        height: 45vh;
    }

}