page-hometab {
    ion-header.expand-header {
        height: 30vh;
    }
    ion-header {
        ion-searchbar {
            padding: 0 15px 15px 15px !important;
        }
        .left-icon {
            margin-left: 15px !important;
            float: none !important;
        }
        .right-col {
            padding-right: 0px !important;
            margin-right: 4px !important;
        }
        .searchbar-ios {
            background: none !important;
        }
        .appand-list {
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            letter-spacing: -0.384px;
            color: #FFFFFF;
            margin-right: 0 !important;
            margin-left: 0 !important;
            padding: 10px;
        }
        .selected-address {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 25px;
            letter-spacing: -0.6px;
            color: #FFFFFF;
            border-top: 1px solid #166A69;
            border-bottom: 1px solid #166A69;
        }
        .order-status {
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.376471px;
            color: #FFFFFF;
            background: #0D5E5D;
            .detail,
            .title {
                font-size: 15px;
                justify-content: space-between;
                padding: 15px 15px 15px 15px;
            }
            .title {
                padding-bottom: 0;
            }
        }
    }
    ion-content {
        background: #E5E5E5 !important;
        ion-slides {
            height: 28vh;
            width: 100%;
            overflow: hidden;
            .swiper-pagination-bullet {
                border: 1px solid #FFFFFF;
                background: none;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: white;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        div.content {
            padding: 0 15px 15px 15px !important;
        }
        .scroll-content {
            padding: 0 !important;
        }
        .restaurant-list {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 41px;
            font-size: 14px;
            letter-spacing: 0.329412px;
            color: #545454;
        }
        .segment {
            margin-bottom: 15px;
            position: relative;
            .background-wrap {
                height: 25vh;
                width: 100%;
                overflow: hidden;
                .img {
                    width: 100%;
                }
            }
            .restaurant-over-detail {
                position: absolute;
                padding: 10px;
                top: 0;
                width: 100%;
                text-align: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                line-height: 12px;
                font-size: 14px;
                letter-spacing: 0.282353px;
                color: #FFFFFF;
                ion-row {
                    justify-content: space-between;
                }
            }
            .restaurant-detail {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.305882px;
                color: #545454;
                ion-row {
                    justify-content: space-between;
                    padding: 15px 10px 0px 10px;
                    div span {
                        span {
                            font-size: 9px;
                        }
                    }
                }
                p {
                    background: #F7F7F7;
                    width: 100%;
                    padding: 10px 10px 10px 10px;
                    margin: 0;
                    span {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 14px;
                        letter-spacing: 0.329412px;
                        color: #228D8C;
                    }
                }
            }
        }
    }
}